$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
$fa-font-path: "/bower_components/font-awesome/fonts";
//$flaticon-path: "/fonts/flat-icon";
//@import "fonts/flat-icon/flaticon.css";
@import "font-awesome/scss/font-awesome.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Nunito:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* Put your CSS here */

html {
  height: 100%;
}

body {
  //background: #ececec;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background: #fafafa;
  color: #333;
  //font-family: 'Lato', sans-serif;
  font-size:13px;
}
.logo
{
	float: left;
    margin-top: 0px;
	padding-left: 15px;
    padding-right: 5px;

}
#logotext1
{
    padding-top: 13px;  
    font-size: 20px;  
}
.logotext{
    font-weight: bold;
    margin-top: 12px;
    
    color: #7f7f8a;
}
.jumbotron {
    background-color: #000000;
    background:  url("/images/rebound-slider-1-bg.jpg") ;
    width: 100%;
    height: 700px;
    background-size: contain;
    background-size: 100% 70%;
    background-repeat: no-repeat;
    position:fixed;
    overflow: hidden;
    margin-bottom: 0px;    
}
#botmor
{
    margin-bottom: 0px;
}

.logbtn {
    position: fixed;
    top:42%;
    left:41%;
    color: #ffffff;
    background-color: #ED2915;
    font-size: 18px;
    font-weight: 400;
    width: 230px;
    height: 50px;
    padding-top: 13px;
    letter-spacing: -1px;
}

.logLink
{
    background-color: #cbcbcb;
    padding-top: 17.1px;
    padding-bottom: 12px;
}
.stack
{
    font-size: 25px;
}
.logbtn:hover{
    text-decoration: none;
    color: #ffffff;
}
.colorBlack
{
    color: #000000;
}
.follow
{
    font-weight: lighter;
    font-family: "Sans-serif";
    font-size: 18px;
}
#footer {
    text-align: center;
    position: fixed;
    height: 125px;
    bottom: 0;
    width: 100%;
}

.username
{
    float: left;
    padding-left: 500px;
    padding-top: 12px;
    font-weight: bold;
    margin-top: 12px;
    font-size: 16px;
    color: #7f7f8a;
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 10px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }
.searchDate
{
    padding-top: 18.1px;
    padding-bottom: 12px;
}
.ro
{
    background-color: #ff0000;
}
