<nav class="navbar navbar-default" id="botmor">
	<div class="container-fluid">
		<div class="wrap">
			<div class="navbar-header">
				 <div class="logo"><img src="images/logo.png" alt="logo" witdth="50" height="50"></div>
			     <div id="logotext1" class="navbar-brand"><span class="logotext">goPaddle</span> Admin Console</div>
			</div>
		</div>
	</div>
</nav>

<div class="jumbotron fullscreen background">
	<a href="#/views/list" class="logbtn center">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-google-plus stack"></i>&nbsp;&nbsp;<span class="logLink">&#8202;&#8202;&#8202;</span>&nbsp;<span><strong>Connect with Google</strong></span></a>
</div>

<div id="footer">
    <div class="container text-muted" >
		<div class="follow">Follow Us</div>
		<div><i class="fa fa-facebook fa-1x"></i>&nbsp;&nbsp;<i class="fa fa-twitter fa-1x"></i>&nbsp;&nbsp;<i class="fa fa-linkedin-square fa-1x"></i></div>
	</div>
</div>

